/* feel free to go on google fonts and change this to another font! */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");

/* == HTML == */
*,
*:before,
*:after {
  box-sizing: inherit;
  box-sizing: border-box;
  --text-color: rgb(7, 0, 73);
  --title-color: rgb(0, 168, 22);
  --header-color: rgb(255, 255, 255);
  color: var(--text-color);
  background-color: transparent;
}

html {
  box-sizing: border-box;
  /* if you change the font, don't forget to change it here too! */
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 18px;
  background: url(https://www.wallpaperup.com/uploads/wallpapers/2012/04/02/1939/efa4a21f5ea5834cbbb1b30bc94eb17c.jpg) no-repeat center center fixed; 
}

div {
  margin-bottom: 1rem;
}
.masthead {
  margin-bottom: 2rem;
}

.frame {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: 5px;
  margin-right: 5px;
}

.rarity-4 {
  background: radial-gradient(#c300ff 50%, #450057);
  border-radius: 20px;
}.rarity-5 {
  background: radial-gradient(#ffe600 50%, #705c00);
  border-radius: 20px;
}

/* body */

body {
  box-sizing: border-box;
  min-height: 100%;
  background-color: rgba(255,255,255,0.5);
  border-radius: 20pt;
  margin-left: 10pt;
  margin-right: 10pt;
}

/* == HEADERS == */
h1 {
  color: var(--title-color);
}

h2,
h3 {
  color: var(--header-color);
}

h4 {
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  text-align: center;
  line-height: 1.2;
}

h1 {
  font-size: 2.6rem;
  margin: 1rem 1rem 1rem 0;
}
h1.title {
  color: rgba(0,0,0,0.8);
}

h2.username {
  color: white;
  font-size: 1.5vw !important;
  text-align: center;
}

h4 {
  padding: 20px;
}

.background {
  text-align: center;
}

/**/

.wrapper {
  max-width: 1200px;
  width: 100%;
  text-align: center;
  justify-content: center;
  margin: 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  transition: all 0.3s ease;
}

.container::before,
.container::after,
.wrapper::before,
.wrapper::after {
  display: table;
  content: "";
  clear: both;
  width: 100%;
}

.main {
  margin: 2rem;
}

.footer {
  clear: both;
  position: relative;
  height: 200px;
  height: 2.5rem;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 10%;
}